# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebooks
*.ipynb_checkpoints/

# VS Code settings
.vscode/
