# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
testenv/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebooks
*.ipynb_checkpoints/

# VS Code settings
.vscode/

# Python cache
__pycache__

# Local archive data
__archive__

# PyPI credentials
.pypirc
